table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .status-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }
  
  div  {
    width: 16px;
    height:  16px;
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;  
  }

  span {
    width: 16px;
    height:  16px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  dl {
    width: 16px;
    height:  16px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  
  